.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;


}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;

}

.text-primary{
    color: rgb(255, 111, 0);
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: rgb(255, 111, 0);
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

ul li a{
    text-decoration: none;
    font-size: 20;
}

/* header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* margin: 38px 1441px 25px 23px, 319px 203px 0px 767px; */
}

/* banner-style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic{
    width: 580px;
}


/* about me */
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color:#474747 ;
}

.secondary-bg{

    background-color: #FFF8F3;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

/* .about-items{

} */

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.item-description{
    font-weight: bold;
}

.about-items{
    display: flex;
    justify-content: space-around;
    

}


.in-color-about{
    background-color: rgb(255, 255, 255);
}


/* What i do */
.text-center{
    text-align: center;
    /* flex-wrap: wrap; */
}

.skills-container{
    display: flex;
    gap: 24px;
    padding: 30px;
    
}
.skill{
    padding: 30px;
    /* text-align: justify; */
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume section styles */
.section-title{
    font-size: 35px;
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
}
.experience-title{
    font-size: 20px;
}
.experience-subtitle{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
}
.experience-description{
    font-size: 16px;
    color: #757575;
    margin-bottom:15px;

}
.experience{
    line-height:20px;
}
.resume{
    margin-bottom: 130px;
}

.resume hr{
    margin: 30px 5px;
}
.btt{
    text-align: center;
    margin-top: 60px;
}


/* footer styles */
footer{
    padding: 130px 230px ;
    display: flex;
    gap: 117px;
    margin-bottom: 130px;
}

.footer-column{
    width: 50%;
}
.section-titles{
    text-align: left;
}
footer input[type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
textarea{
    width: 70%;
    margin-bottom:24px ;
    padding: 10px 20px;
    display: block;
    border: none;
}

.copyright{
    text-align: center;
    margin-bottom: 40px;
    line-height: 10px;
   
}